.no-highlight {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
@font-face {
    font-family: 'fancy-cursive';
    src: url('./fonts/GreatVibes-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.no-pointer{
    pointer-events: none;
    background:silver !important;
}
body{
    background:#000;
    width:100%;
    /* height:100vh; */
    height:100%;
    /* height:2000px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:1rem;
}

#form-container{
    height:90%;
    width:90%;
}
#form {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow:hidden;
    gap:1rem;
}
.form-col {
    padding:0 0 .25rem 0;
    border-bottom:.25px solid #fff;
    display:flex;
    align-items: center;
    gap:1.75rem;
    width:100%;
    height:65px;
    position:relative;
    overflow-x:scroll;
}
input, textarea {
border-radius: 12px; 
border:none;
font-size:16pt;
}

.add-input:hover{
    transition: .75s;
    cursor:pointer;
    transform:scale(.88);
}
.add-input {
    transition: .25s;
    height:50px;
    width:50px;
    user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
header{
    /* transition: .25s; */
    /* margin: 0 0 1.5rem 0; */
    width:100%;
    height:105px;
    /* border:2px solid orangered; */
    border-bottom:.25px solid #fff;
    position:relative;
    top:0;
    left:0;
    z-index:999;
}
.fixed {
    background:#fff;
    position:fixed !important;
}
#title-logo {
    width:100%;
    height:100%;
}

#title-logo > h1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'fancy-cursive', Arial, Helvetica, sans-serif;;
    color:#fff;
    font-size:48pt;
    text-align: center;
    margin:1rem 0 0 0;
    letter-spacing:1.5px;
    animation:poptitle .75s forwards ease-out;
}
.blk-txt {
    color:#000 !important;
}
@keyframes poptitle {
    from {
        transform:scale(.85);
    }
    to{
        transform:scale(1);
    }
}
#toolbar-container{
    height:30px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    border-bottom:2px solid #fff;
}

.tool-item>img,
.type-select {
    background:#fff;
    border-radius: 50%;
    padding:.5rem;
}
.tool-item>img{
    height:25px;
    width:25px;
}
.type-select{
    height:50px;
    width:50px;
    transition: .25s;
}
.type-select:hover,
#submit-btn:hover{
    background-image:linear-gradient(20deg,rgb(255, 230, 0),#d1b78f 88%);
    transform:scale(.9);
    cursor:pointer;
}
#submit-btn:hover{
    color:#000;
}
.absolute-type-select{
    position:absolute;
    transition: none;
    opacity:0;
    pointer-events:none;
}

/* inputs  */
.input-question{
    /* transition:.25s; */
    color:#fff;
    width:100%;
    height:50px;
    padding:.5rem 0 0 .25rem;
    font-weight:bold;
    outline:none;
    background:transparent;
    overflow-x:scroll;
}
.input-question:focus{
    color:#000 !important;
    background-color: rgb(242, 235, 225);
}
/* .textarea-standard,
.input-standard{
    text-align: center;
} */
.submit-standard{
    padding:.5rem 1.5rem;
    background:#000;
    color:#fff;
    font-size:14pt;
    font-family: 'fancy-cursive',Arial, Helvetica, sans-serif;
}
.hide-button{
    opacity:0;
    pointer-events: none;
    display:none;
}


#test-space { 
    height:2000px;
    width:100%;
    background:red;
}

#submit-btn{
    padding:.5rem 1.5rem;
    border-radius: 8px;
    font-family: 'fancy-cursive',Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-size:14pt;
    z-index: 998;
}


/* ripple */

.ripple-button {
  position: relative; /* Crucial for positioning the ripple */
  overflow: hidden;   /* Hides the ripple outside the button boundaries */
  /* Add other button styles like background, padding, font, etc. */
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7); /* Translucent white ripple */
  transform: scale(0); /* Initially hidden */
  animation: ripple-animation 0.6s linear forwards; /* Animation properties */
}

@keyframes ripple-animation {
  to {
    transform: scale(3); /* Grow the ripple */
    opacity: 0;         /* Fade out the ripple */
  }
}