@font-face {
    font-family: 'fancy-cursive';
    src: url('./fonts/GreatVibes-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background:#000;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

#form-container{
    height:90%;
    width:90%;
}
#form {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    overflow:hidden;
}
.form-col {
    padding:0 0 .25rem 0;
    border-bottom:.5px solid #fff;
    display:flex;
    align-items: center;
    gap:1.75rem;
    width:100%;
    height:65px;
    position:relative;
}
input, textarea {
border-radius: 12px; 
}
.add-input:hover{
    transition: .75s;
    cursor:pointer;
    transform:scale(.88);
}
.add-input {
    transition: .25s;
    height:50px;
    width:50px;
}
header{
    margin: 0 0 1.5rem 0;
    width:100%;
    height:85px;
    /* border:2px solid red; */
    position:relative;
    top:0;
    left:0;
}
#title-logo {
    width:100%;
    height:100%;
}

#title-logo > h1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'fancy-cursive', Arial, Helvetica, sans-serif;;
    color:#fff;
    font-size:48pt;
    text-align: center;
    margin:2.5rem 0 0 0;
    letter-spacing:1.5px;
    animation:poptitle .75s forwards ease-out;
}
@keyframes poptitle {
    from {
        transform:scale(.85);
    }
    to{
        transform:scale(1);
    }
}
#toolbar-container{
    height:30px;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    border-bottom:2px solid #fff;
}

.tool-item>img,
.type-select {
    background:#fff;
    border-radius: 50%;
    padding:.5rem;
}
.tool-item>img{
    height:25px;
    width:25px;
}
.type-select{
    height:50px;
    width:50px;
}
.type-select:hover{
    background-image:linear-gradient(20deg,rgb(255, 230, 0),#d1b78f 88%);
    transform:scale(.9);
    cursor:pointer;
}
.absolute-type-select{
    position:absolute;
    opacity:0;
    pointer-events:none;
}

/* inputs  */
.input-question{
    transition:.25s;
    width:60%;
    height:50px;
    padding:.5rem 0 0 .25rem;
    font-size:14pt;
    font-weight:bold;
    outline:none;
}
.input-question:focus{
    background-color: rgb(242, 235, 225);
}
.textarea-standard,
.input-standard{
    width:40%;
    height:50px;
    font-size:11pt;
    padding:.5rem .25rem;
    resize:none !important;
}
.submit-standard{
    padding:.5rem 1.5rem;
    background:#000;
    color:#fff;
    font-size:14pt;
    font-family: 'fancy-cursive',Arial, Helvetica, sans-serif;
}
.hide-button{
    opacity:0;
    pointer-events: none;
    display:none;
}